<style>
  #{{ section.id }} {
    font-size: 16px;
    padding-top: {{ section.settings.padding_top }}em;
    padding-bottom: {{ section.settings.padding_bottom }}em;
    background-color: {{ section.settings.bg_color }};
    {% if section.settings.section_container == "" %}
      padding-left: 1.5em;
      padding-right: 1.5em;
    {% endif %}
  }

  #{{ section.id }} .c-section-top-subheading,
  #{{ section.id }} div,
  #{{ section.id }} h2,
  #{{ section.id }} h3 {
    color: {{ section.settings.text_color }};
  }

  #{{ section.id }} .c-section-top {
    align-items: {{ section.settings.section_top_alignment }};
    text-align: {{ section.settings.text_alignment }};
  }

  #{{ section.id }} .c-cc-grid {
    display: grid;
    grid-template-columns:{% for i in (1..section.settings.columns) %} 1fr{% endfor %};
    gap: 2em;
    overflow-x: auto;
    overflow-y: hidden;
  }

  #{{ section.id }} .c-cc-collection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
    text-align: center;
    transition: 0.2s ease;
    padding-top: 20%;
  }

  #{{ section.id }} .c-cc-image-div {
    display: flex;
    overflow: hidden;
    border-radius: 100%;
    border: 1px solid #ccc;
    aspect-ratio: 1/1;
  }

  #{{ section.id }} .c-cc-collection:hover {
    margin-top: -20%;
  }

  #{{ section.id }} .c-cc-collection:hover .c-cc-image {
    transform: scale(1);
  }

  #{{ section.id }} .c-cc-image {
    border-radius: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    transition: 0.2s ease;
    width: 100%;
    height: 100%;
    transform: scale(1.1);
    min-width: 130px;
  }

  @media (max-width: {{ settings.c_breakpoint3 }}px) {
  }
</style>


<section id="{{ section.id }}" class="c-section">
  <div class="{{ section.settings.section_container }}">
    <div class="c-section-top">
      {%- if section.settings.section_top_subheading != empty -%}<p class="c-section-top-subheading">{{ section.settings.section_top_subheading }}</p>{%- endif -%}
      {%- if section.settings.section_top_heading != empty -%}<h2>{{ section.settings.section_top_heading }}</h2>{%- endif -%}
      {%- if section.settings.section_top_paragraph != empty -%}<div class="c-t-80">{{ section.settings.section_top_paragraph }}</div>{%- endif -%}
    </div>
    <div class="c-cc-grid">
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'Collection' %}
            <a href="{{ block.settings.collection.url }}" class="c-cc-collection" {{ block.shopify_attributes }}>
              <div class="c-cc-image-div">
                {% if block.settings.block_image %}
                  {{ block.settings.block_image | image_url: width: 750 | image_tag: loading: 'lazy', height: 'auto', class: 'c-cc-image' }}
                {% else %}
                  {{ block.settings.collection.featured_image | image_url: width: 750 | image_tag: loading: 'lazy', height: 'auto', class: 'c-cc-image' }}
                {% endif %}
              </div>
              {% if block.settings.block_heading != empty %}
                <h3>{{ block.settings.block_heading }}</h3>
              {% else %}
                <h3>{{ block.settings.collection.title }}</h3>
              {% endif %}
            </a>
        {% endcase %}
      {% endfor %}
    </div>
  </div>
</section>


<script>
  let tl = gsap.timeline({scrollTrigger: {
    trigger: ".c-cc-grid",
    scrub: 0.5,
    start: "90% 100%",
    end: "90% 80%"
  } })
  .fromTo(".c-cc-collection", {y: "100%"}, {y: "0%", stagger: 0.15})
</script>


{% schema %}
  {
    "name": "C Collection Circles",
    "blocks": [
      {
        "name": "Collection",
        "type": "Collection",
        "limit": 50,
        "settings": [
          {
            "type": "collection",
            "id": "collection",
            "label": "Collection"
          },
          {
            "type": "image_picker",
            "id": "block_image",
            "label": "Custom Image"
          },
          {
            "type": "text",
            "id": "block_heading",
            "label": "Custom Heading"
          }
        ]
      }
    ],
    "settings": [
      {
        "type": "range",
        "id": "columns",
        "label": "Columns",
        "min": 2,
        "max": 8,
        "step": 1,
        "default": 6
      },
      {
        "type": "select",
        "id": "section_container",
        "label": "Section container",
        "default": "page-width",
        "options": [
          {
            "value": "page-width",
            "label": "Normal"
          },
          {
            "value": "",
            "label": "None"
          },
          {
            "value": "page-width2",
            "label": "Smaller"
          }
        ]
      },
      {
        "type": "header",
        "content": "Section Colors"
      },
      {
        "type": "color",
        "id": "bg_color",
        "label": "Background color",
        "default": "#fff"
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "Text color",
        "default": "#000"
      },
      {
        "type": "header",
        "content": "Section Top"
      },
      {
        "type": "text",
        "id": "section_top_subheading",
        "label": "Subheading",
        "default": "subheading"
      },
      {
        "type": "text",
        "id": "section_top_heading",
        "label": "Heading",
        "default": "Section Heading"
      },
      {
        "type": "richtext",
        "id": "section_top_paragraph",
        "label": "Paragraph",
        "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare.</p>"
      },
      {
        "type": "select",
        "id": "section_top_alignment",
        "label": "Section Top Alignment",
        "default": "center",
        "options": [
          {
            "value": "flex-start",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "flex-end",
            "label": "Right"
          }
        ]
      },
      {
        "type": "select",
        "id": "text_alignment",
        "label": "Text alignment",
        "default": "center",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ]
      },
      {
        "type": "header",
        "content": "Section Padding"
      },
      {
        "type": "range",
        "id": "padding_top",
        "label": "Padding top",
        "min": 0,
        "max": 15,
        "step": 1,
        "default": 4,
        "unit": "rem"
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "label": "Padding bottom",
        "min": 0,
        "max": 15,
        "step": 1,
        "default": 4,
        "unit": "rem"
      }
    ],
    "presets": [
      {
        "name": "C Collection Circles"
      }
    ]
  }
{% endschema %}