<style>
  #{{ section.id }} {
    padding-top: {{ section.settings.padding_top }}rem;
    padding-bottom: {{ section.settings.padding_bottom }}rem;
    background-color: {{ section.settings.bg_color }};
  }

  #{{ section.id }} .c-section-top-subheading,
  #{{ section.id }} div,
  #{{ section.id }} h2,
  #{{ section.id }} h3 {
    color: {{ section.settings.text_color }};
  }

  #{{ section.id }} .c-section-top {
    align-items: {{ section.settings.section_top_alignment }};
    text-align: {{ section.settings.text_alignment }};
  }

  @media (max-width: {{ settings.c_breakpoint3 }}px) {
  }
</style>


<section id="{{ section.id }}" class="c-section">
  <div class="page-width">
    <div class="">
      {% if section.settings.section_top_subheading != empty %}<p class="c-section-top-subheading">{{ section.settings.section_top_subheading }}</p>{% endif %}
      {% if section.settings.section_top_heading != empty %}<h2>{{ section.settings.section_top_heading }}</h2>{% endif %}
      {% if section.settings.section_top_paragraph != empty %}<div class="c-t-80">{{ section.settings.section_top_paragraph }}</div>{% endif %}
    </div>
    <div class=""></div>
  </div>
</section>


{% schema %}
  {
    "name": "C Section Title",
    "settings": [
      {
        "type": "header",
        "content": "Section Colors"
      },
      {
        "type": "color",
        "id": "bg_color",
        "label": "Background color",
        "default": "#fff"
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "Text color",
        "default": "#000"
      },
      {
        "type": "header",
        "content": "Section Top"
      },
      {
        "type": "text",
        "id": "section_top_subheading",
        "label": "Subheading",
        "default": "subheading"
      },
      {
        "type": "text",
        "id": "section_top_heading",
        "label": "Heading",
        "default": "My heading"
      },
      {
        "type": "richtext",
        "id": "section_top_paragraph",
        "label": "Paragraph",
        "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare.</p>"
      },
      {
        "type": "select",
        "id": "section_top_alignment",
        "label": "Section Top Alignment",
        "default": "center",
        "options": [
          {
            "value": "flex-start",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "flex-end",
            "label": "Right"
          }
        ]
      },
      {
        "type": "select",
        "id": "text_alignment",
        "label": "Text alignment",
        "default": "center",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ]
      },
      {
        "type": "header",
        "content": "Section Padding"
      },
      {
        "type": "range",
        "id": "padding_top",
        "label": "Padding top",
        "min": 0,
        "max": 15,
        "step": 1,
        "default": 4,
        "unit": "rem"
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "label": "Padding bottom",
        "min": 0,
        "max": 15,
        "step": 1,
        "default": 4,
        "unit": "rem"
      }
    ],
    "presets": [
      {
        "name": "C Section Title"
      }
    ]
  }
{% endschema %}