<style>
  #{{ section.id }} {
    font-size: 16px;
    padding-top: {{ section.settings.padding_top }}em;
    padding-bottom: {{ section.settings.padding_bottom }}em;
    background-color: {{ section.settings.bg_color }};
  }

  #{{ section.id }} .c-section-top-subheading,
  #{{ section.id }} div,
  #{{ section.id }} h2,
  #{{ section.id }} h3 {
    color: {{ section.settings.text_color }};
  }

  #{{ section.id }} .c-section-top {
    align-items: {{ section.settings.section_top_alignment }};
    text-align: {{ section.settings.section_top_text_alignment }};
  }

  #{{ section.id }} h2 {
    color: {{ section.settings.accent_color }};
  }

  #{{ section.id }} .c-tc-triggers {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin-bottom: 2em;
  }

  #{{ section.id }} .c-tc-trigger {
    cursor: pointer;
    padding: 0em 1em 0.75em 1em;
  }

  #{{ section.id }} .c-tc-trigger.c-active {
    font-weight: bold;
    border-bottom: 2px solid {{ section.settings.accent_color }};
  }

  #{{ section.id }} .c-tc-card {
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    display: none;
  }

  #{{ section.id }} .c-tc-card.c-active {
    display: grid;
  }

  #{{ section.id }} .c-tc-card-left {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 1em;
  }

  #{{ section.id }} .c-tc-card-paragraph {
    font-size: 1.125em;
  }

  #{{ section.id }} .c-tc-benefits {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.75em;
  }

  #{{ section.id }} .c-tc-benefit {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.3em;
    font-weight: bold;
  }

  #{{ section.id }} .c-tc-benefit svg {
    width: 1.5em;
    min-width: 1.5em;
    color: {{ section.settings.accent_color }};
  }

  #{{ section.id }} .c-tc-card-right {
    display: flex;
  }

  #{{ section.id }} .c-tc-card-right > * {
    width: 100%;
    object-fit: cover;
  }

  @media (max-width: {{ settings.c_breakpoint3 }}px) {
    #{{ section.id }} .c-tc-triggers {
      flex-direction: column;
      gap: 0em;
    }

    #{{ section.id }} .c-tc-trigger {
      padding: 0.5em 1em;
    }

    #{{ section.id }} .c-tc-trigger.c-active {
      border-bottom: none;
      border-left: 2px solid {{ section.settings.accent_color }};
    }

    #{{ section.id }} .c-tc-card {
      grid-template-columns: 1fr;
      gap: 2em;
    }
  }
</style>


<section id="{{ section.id }}" class="c-section">
  <div class="page-width">
    <div class="c-section-top">
      {%- if section.settings.section_top_subheading != empty -%}<p class="c-section-top-subheading">{{ section.settings.section_top_subheading }}</p>{%- endif -%}
      {%- if section.settings.section_top_heading != empty -%}<h2>{{ section.settings.section_top_heading }}</h2>{%- endif -%}
      {%- if section.settings.section_top_paragraph != empty -%}<div class="c-t-80">{{ section.settings.section_top_paragraph }}</div>{%- endif -%}
    </div>
    <div class="c-tc-wrapper">
      <div class="c-tc-triggers">
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'Item' %}
              <div class="c-tc-trigger {% if forloop.index == 1 %} c-active{% endif %}" {{ block.shopify_attributes }}>
                <p>{{ block.settings.block_text }}</p>
              </div>
          {% endcase %}
        {% endfor %}
      </div>
      <div class="c-tc-content">
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'Item' %}
              <div class="c-tc-card {% if forloop.index == 1 %} c-active{% endif %}">
                <div class="c-tc-card-left">
                  <p class="c-section-top-subheading">{{ block.settings.block_subheading }}</p>
                  <h3>{{ block.settings.block_heading }}</h3>
                  <div class="c-tc-card-paragraph">{{ block.settings.block_paragraph }}</div>
                  <div class="c-tc-benefits">
                    <div class="c-tc-benefit">
                      {% render 'c-icon-check' %}
                      <div>{{ block.settings.block_item1 }}</div>
                    </div>
                    <div class="c-tc-benefit">
                      {% render 'c-icon-check' %}
                      <div>{{ block.settings.block_item2 }}</div>
                    </div>
                    <div class="c-tc-benefit">
                      {% render 'c-icon-check' %}
                      <div>{{ block.settings.block_item3 }}</div>
                    </div>
                  </div>
                  {%- if section.settings.button_text != empty -%}
                    <a href="{{ block.settings.button_url }}" class="c-button {{ section.settings.button_style }}">{{ block.settings.button_text }}</a>
                  {%- endif -%}
                </div>
                <div class="c-tc-card-right">
                  {% if block.settings.block_image %}
                    {{ block.settings.block_image | image_url: width: 1250 | image_tag: loading: 'eager', height: 'auto' }}
                  {% endif %}
                </div>
              </div>
          {% endcase %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>


<script>
  document.querySelectorAll("#{{ section.id }} .c-tc-trigger").forEach((tab, index) => {
    tab.addEventListener("click", () => {
      document.querySelectorAll("#{{ section.id }} .c-tc-card").forEach((content) => {
        content.classList.remove("c-active");
      });
      document.querySelectorAll("#{{ section.id }} .c-tc-trigger").forEach((tab) => {
        tab.classList.remove("c-active");
      });
      
      document.querySelectorAll("#{{ section.id }} .c-tc-card")[index].classList.add("c-active");
      document.querySelectorAll("#{{ section.id }} .c-tc-trigger")[index].classList.add("c-active");
    });
  });

  let myTl{{ section.id | replace: '-', '_' }} = gsap.timeline({scrollTrigger: {
    trigger: "#{{ section.id }} .c-tc-card",
    pin: false,
    markers: false,
    toggleActions: "play none none none",
    start: "0% 90%",
    end: "100% 70%"
  } })
  .fromTo("#{{ section.id }} .c-tc-card > *", {y: "100%", opacity: 0}, {y: "0%", opacity: 1, stagger: 0.3})
</script>



{% schema %}
  {
    "name": "C Tabs Content",
    "blocks": [
      {
        "name": "Item",
        "type": "Item",
        "limit": 50,
        "settings": [
          {
            "type": "text",
            "id": "block_text",
            "label": "Text",
            "default": "Block text Here"
          },
          {
            "type": "text",
            "id": "block_subheading",
            "label": "Subheading",
            "default": "Block subheading here"
          },
          {
            "type": "text",
            "id": "block_heading",
            "label": "Heading",
            "default": "Block Heading Here"
          },
          {
            "type": "richtext",
            "id": "block_paragraph",
            "label": "Paragraph",
            "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare.</p>"
          },
          {
            "type": "text",
            "id": "block_item1",
            "label": "Item1",
            "default": "Block item text"
          },
          {
            "type": "text",
            "id": "block_item2",
            "label": "Item2",
            "default": "Block item text"
          },
          {
            "type": "text",
            "id": "block_item3",
            "label": "Item3",
            "default": "Block item text"
          },
          {
            "type": "image_picker",
            "id": "block_image",
            "label": "Image"
          },
          {
            "type": "header",
            "content": "Button"
          },
          {
            "type": "text",
            "id": "button_text",
            "label": "Button Text",
            "default": "Shop Now"
          },
          {
            "type": "url",
            "id": "button_url",
            "label": "Button Link"
          }
        ]
      }
    ],
    "settings": [
      {
        "type": "text",
        "id": "button_style",
        "label": "Button style",
        "default": "c-b1"
      },
      {
        "type": "header",
        "content": "Section Colors"
      },
      {
        "type": "color",
        "id": "accent_color",
        "label": "Accent color",
        "default": "#5d3be4"
      },
      {
        "type": "color",
        "id": "bg_color",
        "label": "Background color",
        "default": "#ffffff"
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "Text color",
        "default": "#000000"
      },
      {
        "type": "header",
        "content": "Section Top"
      },
      {
        "type": "text",
        "id": "section_top_subheading",
        "label": "Subheading",
        "default": "subheading"
      },
      {
        "type": "text",
        "id": "section_top_heading",
        "label": "Heading",
        "default": "Section Heading"
      },
      {
        "type": "richtext",
        "id": "section_top_paragraph",
        "label": "Paragraph",
        "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare.</p>"
      },
      {
        "type": "select",
        "id": "section_top_alignment",
        "label": "Section Top Alignment",
        "default": "center",
        "options": [
          {
            "value": "flex-start",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "flex-end",
            "label": "Right"
          }
        ]
      },
      {
        "type": "select",
        "id": "section_top_text_alignment",
        "label": "Text alignment",
        "default": "center",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ]
      },
      {
        "type": "header",
        "content": "Section Padding"
      },
      {
        "type": "range",
        "id": "padding_top",
        "label": "Padding top",
        "min": 0,
        "max": 15,
        "step": 1,
        "default": 4,
        "unit": "rem"
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "label": "Padding bottom",
        "min": 0,
        "max": 15,
        "step": 1,
        "default": 4,
        "unit": "rem"
      }
    ],
    "presets": [
      {
        "name": "C Tabs Content",
        "blocks": [
          {
            "type": "Item"
          },
          {
            "type": "Item"
          },
          {
            "type": "Item"
          }
        ]
      }
    ]
  }
{% endschema %}